<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="dist\bootstrap-icons\font\bootstrap-icons.min.css" 
    />
    <link rel="stylesheet" href="dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/main.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    {% include "navbar.njk" %}
    <div
      id="carouselExampleIndicators"
      class="carousel slide w-100 custom-bg p-3"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="dist/bootstrap-icons/icons/airplane-engines-fill.svg"
            class="d-block mx-auto w-50"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="dist/bootstrap-icons/icons/alarm.svg"
            class="d-block mx-auto w-50"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="dist/bootstrap-icons/icons/amazon.svg"
            class="d-block mx-auto w-50"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    {% include "modal-signin.njk" %}
    {% include "modal-signup.njk" %}
    {% include "footer.njk" %}
    
    <script type="module" src="scripts/validations/sign-in.js"></script>
    <script type="module" src="scripts/validations/sign-up.js"></script>
    <script src="/dist/js/bootstrap.js" type="module"></script>
    <script type="module" src="scripts/visitsCounter.js"> </script>
  </body>
</html>






