<footer class="custom-bg-footer px-5 py-3">
    <div class="custom-bg-footer row gx-5 custom-gp-color-white">
        <div class="col-sm-4 text-center">
            <a href="#" class="">
            TITLE
          </a>
          <hr>
            <a href="#" class=""
            >A second link item</a
          >
            <a href="#" class=""
            >A third link item</a
          >
            <a href="#" class=""
            >A fourth link item</a
          >
            <a href="#" class=""
            >A disabled link item</a
          >
        </div>

        <div class="col-sm-4 text-center">
            <a href="#" class="">
        TITLE
      </a><hr>
            <a href="#" class=""
        >A second link item</a
      >
            <a href="#" class=""
        >A third link item</a
      >
            <a href="#" class=""
        >A fourth link item</a
      >
            <a href="#" class=""
        >A disabled link item</a
      >
        </div>
        <div class="col-sm-4 text-center">
            <a href="#" class="">
       TITLE
      </a><hr>
            <a href="#" class=""
        >A second link item</a
      >
            <a href="#" class=""
        >A third link item</a
      >
            <a href="#" class=""
        >A fourth link item</a
      >
            <a href="#" class=""
        >A disabled link item</a
      >
        </div>
    </div>
</footer>